* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(220, 248, 248);
}

h3 {
  margin-top: 30px;
  text-align: center;
}
.cardParent {
  display: flex;
  justify-content: space-between;
  padding: 80px 10px;
}

.card {
  text-align: center;
  background-color: white;
  margin: 10px;
  padding: 30px 24px;
  border-radius: 5%;
  width: 280px;
  min-height: 180px;
  box-shadow: 0px 2px 5px rgb(131, 128, 128);
}

.card img {
  padding-bottom: 10px;
}

.card p {
  padding-top: 10px;
  font-size: 12px;
}

@media screen and (max-width: 968px) {
  .cardParent {
    flex-wrap: wrap;
    column-gap: 0.1rem;
  }
}

.card:hover {
  scale: 1.1;
  transition: 0.5s;
}
